<strong>Olá, {{ student }}</strong>
<p>Você recebeu a resposta do seu pedido de auxílio:</p>
<p>
  <strong>Pergunta: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <strong>Data/Hora: </strong> {{ answer_at }} <br />
  <br />
  <small>
    Qualquer dúvida estamos à disposição.
  </small>
</p>
